/* You can add global styles to this file, and also import other style files */
.alert {
    display: 6px;
    
    &--error {
        background-color: aqua;
        color: aliceblue;
    }

    &--success {
        background-color: cadetblue;
        color: aliceblue;
    }
}
body{
    padding: 0;
    margin: 0;
}